
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDecrypt</title>
</head>
<body>
    <div> 
        <form>

            <input name="str" type="text" />

            <input id="Submit1" type="submit" value="submit" />

            <div>@ViewBag.Str</div>
        </form>
    </div>
</body>
</html>
