@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mod-navbar">
    <div class="main-header">
        <div class="title">
            <h3>
                <a href="javascript:;"><i class="icon icon-list"></i></a>
                <a href="javascript:;">修改密码</a>
            </h3>
        </div>
    </div>
    <div class="sub">
        <div class="sub_toolbar">
        </div>
    </div>
</div>
<div class="navigator-results mCustomScrollbar" data-mcs-theme="3d-thick-dark">
    <div class="frame">
        <div class="frame-header">
            <span class="title-breadcrumb">
                <a href="javascript:;">表单</a>
            </span>
        </div>
        <hr class="m0" />
        <div class="widget widget-mytask">
            <div class="body">
                <form class="form-horizontal aui form-wizard" id="add_item_form" action="" method="post">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">旧密码：</label>
                                    <div class="col-md-7">
                                        <input type="password" name="oldPwd" class="form-control" datatype="*" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">新密码：</label>
                                    <div class="col-md-7">
                                        <input type="password" name="newPwd" class="form-control" datatype="*6-20" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">确认密码：</label>
                                    <div class="col-md-7">
                                        <input type="password" class="form-control" id="Password" name="Password" datatype="*6-20" recheck="newPwd"/>
                                    </div>
                                </div>
                   
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary btn-sm" id="sure">确定提交</button>
                            @Html.AntiForgeryToken()
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="~/assets/js/Validform_v5.3.2_min.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script>
        $(function() {
            var sform = $(".aui").Validform({
                tiptype: 3,
                label: ".control-label",
                showAllError: true,
                beforeSubmit: function () {
                    $("#add_item_form").ajaxSubmit({
                        beforeSubmit: function (formData, jqForm, options) {
                            $("#sure").prop("disabled", true).text("提交中...");
                        },
                        success: function (data, textStatus) {
                            $.noty({
                                text: data.Message,
                                layout: 'topCenter',
                                type: 'information',
                                timeout: 500,
                                onClosed: function () {
                                    location.href = location.href;
                                }
                            });

                            if (data.Code === -100) {
                                $("#sure").prop("disabled", false).text("确定提交");
                            }
                        },
                        error: function (data, status, e) { },
                        url: "/supplier/UpdatePassword/?v=" + new Date().getTime(),
                        type: "post",
                        dataType: "json",
                        timeout: 600000
                    });
                    return false;
                }
            });
        });
    </script>
}